.ownerSpotlightSection {
  width: 100%;
  padding: 2rem;
  position: relative;
  text-align: center;
  border-radius: 16px;
  margin-bottom: 2rem;
  background-size: cover;
  transition: 0.5s ease-in;
  background-position: center;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.15);
}

.ownerSpotlightSection:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 16px;
  background-color: hsla(0, 0%, 0%, 0.35);
}

.textContent {
  z-index: 1;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: hsl(0, 0%, 100%);
  font-family: "Raleway", sans-serif;
}

.description {
  line-height: 1.4;
  font-size: 1.5rem;
  color: hsl(0, 0%, 90%);
}
