.homeContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Moonstar Logo */
.moonstarLogo {
  width: 300px;
  object-fit: cover;
  transition: 0.3s ease-in;
}

.heading {
  font-size: 3.5rem;
  text-align: center;
  color: var(--pink);
  margin-bottom: 1rem;
  letter-spacing: 5px;
  transition: 0.3s ease-in;
  font-family: "Raleway", sans-serif;
}

.introduction {
  line-height: 1.5;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  transition: 0.3s ease-in;
  color: var(--text-primary);
}

/* Dermaplaning */
.dermaplaningSection {
  width: 100%;
  padding: 2rem;
  position: relative;
  text-align: center;
  border-radius: 16px;
  margin-bottom: 2rem;
  background-size: cover;
  transition: 0.5s ease-in;
  background-position: center;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.15);
  background-image: url("../assets/images/dermaplaning.jpeg");
}

.dermaplaningSection:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

.dermaplaningSection::before {
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 100%;
  position: absolute;
  border-radius: 16px;
  background-color: hsla(0, 0%, 0%, 0.35);
}

.dermaplaningContent {
  z-index: 1;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
  transition: 0.3s ease-in;
}

.dermaplaningHeading {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
  color: hsl(0, 0%, 100%);
  font-family: "Raleway", sans-serif;
}

.dermaplaningText1,
.dermaplaningText2 {
  font-size: 1.5rem;
  line-height: 1.35;
  margin-bottom: 0.75rem;
  color: hsl(0, 0%, 90%);
}

.dermaplaningText2 {
  margin-bottom: 2rem;
}

.bookButton {
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  transition: 0.3s ease-in;
  color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 90%);
  background-color: hsla(0, 0%, 0%, 0.15);
}

.bookButton:hover {
  background-color: hsla(0, 0%, 0%, 0.3);
}

/* Red Light Therapy */
.redLightTherapySection {
  width: 100%;
  padding: 2rem;
  position: relative;
  text-align: center;
  border-radius: 16px;
  margin-bottom: 2rem;
  background-size: cover;
  transition: 0.5s ease-in;
  background-position: center;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.15);
  background-image: url("../assets/images/red-light-therapy.jpeg");
}

.redLightTherapySection:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

.redLightTherapySection::before {
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 100%;
  position: absolute;
  border-radius: 16px;
  background-color: hsla(0, 0%, 0%, 0.35);
}

.redLightTherapyContent {
  z-index: 1;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
  transition: 0.3s ease-in;
}

.redLightTherapyHeading {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
  color: hsl(0, 0%, 100%);
  font-family: "Raleway", sans-serif;
}

.redLightTherapyText1,
.redLightTherapyText2 {
  font-size: 1.5rem;
  line-height: 1.35;
  margin-bottom: 0.75rem;
  color: hsl(0, 0%, 90%);
}

.redLightTherapyText2 {
  margin-bottom: 2rem;
}

.learnMoreButton {
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  transition: 0.3s ease-in;
  color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 90%);
  background-color: hsla(0, 0%, 0%, 0.15);
}

.learnMoreButton:hover {
  background-color: hsla(0, 0%, 0%, 0.3);
}

/* Skincare Routine */
.routineSection {
  width: 100%;
  padding: 2.5rem;
  border-radius: 16px;
  margin-bottom: 2rem;
  transition: 0.3s ease-in;
  box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.15);
  background-color: var(--header-footer-bg-color);
}

.routineHeading {
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-bottom: 0.25rem;
  transition: 0.3s ease-in;
  color: var(--text-primary);
  font-family: "Raleway", sans-serif;
}

.routineSubtextHeading {
  margin: 0 auto;
  max-width: 800px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--text-secondary);
}

.routineGrid {
  gap: 1rem;
  display: grid;
  margin: 0 auto;
  align-items: center;
  color: var(--bg-color);
  justify-content: center;
  grid-template-columns: auto 1fr 2fr;
}

.stepNumber {
  width: 75px;
  height: 75px;
  display: flex;
  font-size: 1.75rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--pink);
}

.stepTitle {
  width: auto;
  height: 75px;
  display: flex;
  font-size: 1.75rem;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  background-color: var(--pink);
}

.stepDescription {
  width: auto;
  height: 75px;
  display: flex;
  padding: 1.5rem;
  font-size: 1.5rem;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  background-color: var(--pink);
}

@media (max-width: 1100px) {
  .heading {
    font-size: 3rem;
    margin-bottom: 0.95rem;
  }

  .introduction {
    font-size: 1.15rem;
    margin-bottom: 1.5rem;
  }

  .routineSection {
    padding: 2.25rem;
  }

  .routineHeading {
    font-size: 2.25rem;
  }

  .routineSubtextHeading {
    font-size: 1.35rem;
  }

  .stepNumber {
    font-size: 1.5rem;
  }

  .stepTitle {
    font-size: 1.5rem;
  }

  .stepDescription {
    padding: 1.35rem;
    font-size: 1.35rem;
  }
}

@media (max-width: 840px) {
  .heading {
    font-size: 2.5rem;
  }

  /* Dermaplaning */
  .dermaplaningSection {
    padding: 1.75rem;
    margin-bottom: 1.75rem;
  }

  .dermaplaningContent {
    max-width: 600px;
  }

  .dermaplaningHeading {
    font-size: 2.25rem;
    margin-bottom: 0.5rem;
  }

  .dermaplaningText1,
  .dermaplaningText2 {
    font-size: 1.25rem;
    line-height: 1.25;
    margin-bottom: 0.5rem;
  }

  .dermaplaningText2 {
    margin-bottom: 1.75rem;
  }

  .bookButton {
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
  }

  /* Red Light Therapy */
  .redLightTherapySection {
    padding: 1.75rem;
    margin-bottom: 1.75rem;
  }

  .redLightTherapyContent {
    max-width: 600px;
  }

  .redLightTherapyHeading {
    font-size: 2.25rem;
    margin-bottom: 0.5rem;
  }

  .redLightTherapyText1,
  .redLightTherapyText2 {
    font-size: 1.25rem;
    line-height: 1.25;
    margin-bottom: 0.5rem;
  }

  .redLightTherapyText2 {
    margin-bottom: 1.75rem;
  }

  .learnMoreButton {
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
    transition: 0.3s ease-in;
  }
}

@media (max-width: 800px) {
  .moonstarLogo {
    width: 250px;
  }

  .heading {
    font-size: 2.25rem;
    margin-bottom: 0.75rem;
  }

  .introduction {
    font-size: 1.1rem;
    margin-bottom: 1.25rem;
  }

  /* Skincare Routine */
  .routineSection {
    padding: 2rem;
  }

  .routineHeading {
    font-size: 2rem;
  }

  .routineSubtextHeading {
    font-size: 1.25rem;
  }

  .routineGrid {
    gap: 0.75rem;
  }

  .stepNumber {
    font-size: 1.35rem;
  }

  .stepTitle {
    font-size: 1.35rem;
  }

  .stepDescription {
    padding: 1.25rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 700px) {
  .heading {
    font-size: 1.85rem;
    margin-bottom: 0.5rem;
  }

  .introduction {
    font-size: 1rem;
    margin-bottom: 1.15rem;
  }

  /* Skincare Routine */
  .routineSection {
    padding: 1.75rem;
  }

  .routineHeading {
    font-size: 1.95rem;
  }

  .routineSubtextHeading {
    font-size: 1.15rem;
  }

  .routineGrid {
    gap: 0.5rem;
  }

  .stepNumber {
    font-size: 1.35rem;
  }

  .stepTitle {
    font-size: 1.2rem;
  }

  .stepDescription {
    padding: 1.25rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .moonstarLogo {
    width: 180px;
  }

  .heading {
    font-size: 1.75rem;
  }

  .introduction {
    font-size: 0.95rem;
    margin-bottom: 1rem;
  }

  /* Dermaplaning */
  .dermaplaningSection {
    margin-bottom: 1.5rem;
  }

  .dermaplaningContent {
    max-width: 400px;
  }

  .dermaplaningHeading {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .dermaplaningText1,
  .dermaplaningText2 {
    font-size: 1rem;
    line-height: 1.15;
  }

  .dermaplaningText2 {
    margin-bottom: 1.5rem;
  }

  .bookButton {
    font-size: 1rem;
    padding: 0.35rem 0.55rem;
  }

  /* Red Light Therapy */
  .redLightTherapySection {
    margin-bottom: 1.5rem;
  }

  .redLightTherapyContent {
    max-width: 400px;
  }

  .redLightTherapyHeading {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .redLightTherapyText1,
  .redLightTherapyText2 {
    font-size: 1rem;
    line-height: 1.15;
  }

  .redLightTherapyText2 {
    margin-bottom: 1.5rem;
  }

  .learnMoreButton {
    font-size: 1rem;
    padding: 0.35rem 0.55rem;
  }

  /* Skincare Routine */
  .routineSection {
    padding: 1.5rem;
  }

  .routineHeading {
    font-size: 1.75rem;
  }

  .routineSubtextHeading {
    font-size: 1rem;
  }

  .routineGrid {
    gap: 0.25rem;
  }

  .stepNumber {
    width: 65px;
    height: 65px;
    font-size: 1.25rem;
  }

  .stepTitle {
    width: auto;
    height: 65px;
    font-size: 0.75rem;
  }

  .stepDescription {
    width: auto;
    height: 65px;
    padding: 1rem;
    font-size: 0.85rem;
  }
}
