.homeContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Moonstar Logo */
.moonstarLogo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 2rem;
  transition: 0.3s ease-in;
  box-shadow: 0 0 15px var(--pink);
}

.moonstarLogo:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--pink);
}

.heading {
  font-size: 3.5rem;
  text-align: center;
  color: var(--pink);
  margin-bottom: 1rem;
  letter-spacing: 5px;
  transition: 0.3s ease-in;
  font-family: "Libre Baskerville", serif;
}

.introduction {
  line-height: 1.5;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  transition: 0.3s ease-in;
  color: var(--text-primary);
}

/* Skincare Routine */
.routineSection {
  width: 100%;
  padding: 2.5rem;
  border-radius: 16px;
  margin-bottom: 2rem;
  transition: 0.3s ease-in;
  box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.15);
  background-color: var(--header-footer-bg-color);
}

.routineHeading {
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-bottom: 0.25rem;
  transition: 0.3s ease-in;
  color: var(--text-primary);
  font-family: "Libre Baskerville", serif;
}

.routineSubtextHeading {
  margin: 0 auto;
  max-width: 800px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--text-secondary);
}

.routineGrid {
  gap: 1rem;
  display: grid;
  margin: 0 auto;
  align-items: center;
  color: var(--bg-color);
  justify-content: center;
  grid-template-columns: auto 1fr 2fr;
}

.stepNumber {
  width: 75px;
  height: 75px;
  display: flex;
  font-size: 1.75rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--pink);
}

.stepTitle {
  width: auto;
  height: 75px;
  display: flex;
  font-size: 1.75rem;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  background-color: var(--pink);
}

.stepDescription {
  width: auto;
  height: 75px;
  display: flex;
  padding: 1.5rem;
  font-size: 1.5rem;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  background-color: var(--pink);
}

* {
  /* border: 1px solid red; */
}

/* Dermaplaning */
.dermaplaningSection {
  width: 100%;
  padding: 2rem;
  position: relative;
  text-align: center;
  border-radius: 16px;
  margin-bottom: 2rem;
  transition: 0.5s ease;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.15);
  background-image: url("../assets/dermaplaning.jpeg");
}

.dermaplaningSection:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

.dermaplaningSection::before {
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 100%;
  position: absolute;
  border-radius: 16px;
  background-color: hsla(0, 0%, 0%, 0.3);
}

.dermaplaningContent {
  z-index: 1;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

.dermaplaningHeading {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
  color: hsl(0, 0%, 100%);
  font-family: "Libre Baskerville", serif;
}

.dermaplaningText1 {
  font-size: 1.5rem;
  line-height: 1.35;
  margin-bottom: 0.75rem;
  color: hsl(0, 0%, 90%);
}

.dermaplaningText2 {
  font-size: 1.5rem;
  line-height: 1.35;
  margin-bottom: 2rem;
  color: hsl(0, 0%, 90%);
}

.bookButton {
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  transition: 0.3s ease-in;
  color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 90%);
  background-color: hsla(0, 0%, 0%, 0.15);
}

.bookButton:hover {
  background-color: hsla(0, 0%, 0%, 0.3);
}

/* Red Light Therapy */
.redLightTherapySection {
  width: 100%;
  padding: 2rem;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  transition: 0.3s ease-in;
  box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.15);
  background-color: var(--header-footer-bg-color);
}

.overlayContent {
  z-index: 2;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
  text-align: center;
}

.overlayContent h2 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  transition: 0.3s ease-in;
}

.overlayContent ul {
  font-weight: 500;
  font-size: 1.5rem;
  transition: 0.3s ease-in;
}

.overlayContent li:not(:last-child) {
  margin-bottom: 0.35rem;
}

.redLightTherapyImage {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  object-fit: cover;
  position: absolute;
  border-radius: 16px;
}

@media (max-width: 1100px) {
  .heading {
    font-size: 3rem;
    margin-bottom: 0.95rem;
  }

  .introduction {
    font-size: 1.15rem;
    margin-bottom: 1.5rem;
  }

  .routineSection {
    padding: 2.25rem;
  }

  .routineHeading {
    font-size: 2.25rem;
  }

  .routineSubtextHeading {
    font-size: 1.35rem;
  }

  .stepNumber {
    font-size: 1.5rem;
  }

  .stepTitle {
    font-size: 1.5rem;
  }

  .stepDescription {
    padding: 1.35rem;
    font-size: 1.35rem;
  }
}

@media (max-width: 970px) {
  .heading {
    font-size: 2.5rem;
  }
}

@media (max-width: 840px) {
  .heading {
    font-size: 2.35rem;
  }

  .redLightTherapySection {
    padding: 1.5rem;
  }

  .overlayContent h2 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
  }

  .overlayContent ul {
    font-size: 1.25rem;
  }
}

@media (max-width: 800px) {
  .moonstarLogo {
    width: 180px;
    height: 180px;
  }

  .heading {
    font-size: 2.25rem;
    margin-bottom: 0.75rem;
  }

  .introduction {
    font-size: 1.1rem;
    margin-bottom: 1.25rem;
  }

  .routineSection {
    padding: 2rem;
  }

  .routineHeading {
    font-size: 2rem;
  }

  .routineSubtextHeading {
    font-size: 1.25rem;
  }

  .routineGrid {
    gap: 0.75rem;
  }

  .stepNumber {
    font-size: 1.35rem;
  }

  .stepTitle {
    font-size: 1.35rem;
  }

  .stepDescription {
    padding: 1.25rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 780px) {
  .heading {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .heading {
    font-size: 1.85rem;
    margin-bottom: 0.5rem;
  }

  .introduction {
    font-size: 1rem;
    margin-bottom: 1.15rem;
  }

  .routineSection {
    padding: 1.75rem;
  }

  .routineHeading {
    font-size: 1.95rem;
  }

  .routineSubtextHeading {
    font-size: 1.15rem;
  }

  .routineGrid {
    gap: 0.5rem;
  }

  .stepNumber {
    font-size: 1.35rem;
  }

  .stepTitle {
    font-size: 1.2rem;
  }

  .stepDescription {
    padding: 1.25rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .moonstarLogo {
    width: 150px;
    height: 150px;
  }

  .heading {
    font-size: 1.75rem;
  }

  .introduction {
    font-size: 0.95rem;
    margin-bottom: 1rem;
  }

  .routineSection {
    padding: 1.5rem;
  }

  .routineHeading {
    font-size: 1.75rem;
  }

  .routineSubtextHeading {
    font-size: 1rem;
  }

  .routineGrid {
    gap: 0.25rem;
  }

  .stepNumber {
    width: 65px;
    height: 65px;
    font-size: 1.25rem;
  }

  .stepTitle {
    width: auto;
    height: 65px;
    font-size: 0.75rem;
  }

  .stepDescription {
    width: auto;
    height: 65px;
    padding: 1rem;
    font-size: 0.85rem;
  }

  .redLightTherapySection {
    padding: 1.25rem;
  }

  .overlayContent h2 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  .overlayContent ul {
    font-size: 1rem;
  }
}
