.informationContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  color: var(--pink);
  margin-bottom: 1.25rem;
  transition: 0.3s ease-in;
  font-family: "Libre Baskerville", serif;
}

.introduction {
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--text-primary);
}

/* Phone and Email Card */
.cardsRow {
  gap: 1rem;
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

.infoCard {
  width: 50%;
  padding: 1.5rem;
  text-align: left;
  border-radius: 8px;
  word-break: break-word;
  transition: 0.3s ease-in;
  border: 2px solid var(--pink);
  background-color: var(--header-footer-bg-color);
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.15);
}

.infoCard:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

.infoCard .iconRow {
  gap: 0.75rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: flex-start;
}

.infoCard .iconRow i {
  color: var(--pink);
  font-size: 1.25rem;
}

.infoCard .iconRow h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--text-primary);
}

.infoCard .contactDetail {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--text-primary);
}

.infoCard .cardSubheading {
  font-size: 1.25rem;
  color: var(--text-secondary);
}

/* Payment Card */
.paymentCard {
  width: 100%;
  padding: 1.5rem;
  text-align: left;
  border-radius: 8px;
  margin-bottom: 1rem;
  transition: 0.3s ease-in;
  border: 2px solid var(--pink);
  background-color: var(--header-footer-bg-color);
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.15);
}

.paymentCard:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

.paymentCard .iconRow {
  gap: 0.75rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: flex-start;
}

.paymentCard .iconRow i {
  color: var(--pink);
  font-size: 1.25rem;
}

.paymentCard .iconRow h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--text-primary);
}

.paymentCard .paymentIcons {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: flex-start;
}

.paymentCard .paymentIcons i {
  font-size: 2rem;
  color: var(--text-primary);
}

.paymentCard .cardSubheading {
  font-size: 1.25rem;
  color: var(--text-secondary);
}

/* Hours of Operation Card */
.hoursCard {
  width: 100%;
  padding: 1.5rem;
  text-align: left;
  border-radius: 8px;
  margin-bottom: 1rem;
  transition: 0.3s ease-in;
  border: 2px solid var(--pink);
  background-color: var(--header-footer-bg-color);
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.15);
}

.hoursCard:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

.hoursCard .iconRow {
  gap: 0.75rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: flex-start;
}

.hoursCard .iconRow i {
  color: var(--pink);
  font-size: 1.25rem;
}

.hoursCard .iconRow h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--text-primary);
}

.hoursContainer {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
  flex-direction: row;
  justify-content: flex-start;
}

.hoursList {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hoursList .hoursDay {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--text-primary);
}

.hoursList .hoursTime {
  font-weight: 500;
  font-size: 1.15rem;
  color: var(--text-secondary);
}

.hoursCard .cardSubheading {
  font-size: 1.25rem;
  color: var(--text-secondary);
}

/* Address Card */
.addressCard {
  width: 100%;
  padding: 1.5rem;
  text-align: left;
  border-radius: 8px;
  transition: 0.3s ease-in;
  border: 2px solid var(--pink);
  background-color: var(--header-footer-bg-color);
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.15);
}

.addressCard:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

.addressCard .iconRow {
  gap: 0.75rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: flex-start;
}

.addressCard .iconRow i {
  color: var(--pink);
  font-size: 1.25rem;
}

.addressCard .iconRow h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--text-primary);
}

.addressText {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: var(--text-primary);
}

.mapContainer {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.mapContainer iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.addressCard .cardSubheading {
  font-size: 1.25rem;
  color: var(--text-secondary);
}

@media (max-width: 840px) {
  .cardsRow {
    align-items: center;
    flex-direction: column;
  }

  .infoCard,
  .paymentCard,
  .hoursCard,
  .addressCard {
    width: 90%;
    padding: 1rem;
    text-align: center;
  }

  .infoCard .iconRow,
  .paymentCard .iconRow,
  .hoursCard .iconRow,
  .addressCard .iconRow {
    justify-content: center;
  }

  .paymentCard .paymentIcons {
    justify-content: center;
  }

  .hoursContainer {
    gap: 1rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .hoursList {
    gap: 1rem;
    flex-direction: row;
  }
}

@media (max-width: 480px) {
  .cardsRow {
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
    justify-content: center;
  }

  .infoCard,
  .paymentCard,
  .hoursCard,
  .addressCard {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  .infoCard .contactDetail,
  .paymentCard .cardSubheading,
  .hoursList .hoursDay,
  .hoursList .hoursTime,
  .addressText,
  .addressCard .cardSubheading {
    font-size: 1.15rem;
  }

  .addressCard .iconRow h3 {
    font-size: 1.25rem;
  }

  .hoursContainer {
    font-size: 1rem;
  }
}
