.ahaBhaSection {
  width: 100%;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  margin-bottom: 2rem;
  background-size: cover;
  transition: 0.3s ease-in;
  color: hsl(0, 0%, 100%);
  background-position: center;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.15);
  background-image: url("../../assets/images/cream.png");
}

.ahaBhaSection:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

.overlay {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  border-radius: 8px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 0.3);
}

.heading {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  transition: 0.3s ease-in;
  font-family: "Raleway", sans-serif;
}

.contentGrid {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.column {
  flex: 1 1 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.subHeading {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
  transition: 0.3s ease-in;
}

.listBox {
  flex: 1;
  width: 100%;
  display: flex;
  text-align: left;
  line-height: 1.5;
  font-size: 1.5rem;
  border-radius: 8px;
  list-style-type: disc;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem 2.5rem;
  transition: 0.3s ease-in;
  background-color: hsla(0, 0%, 0%, 0.15);
  box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.15);
}

.listBox:hover {
  background-color: hsla(0, 0%, 0%, 0.3);
  box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

.listBox li:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media (max-width: 1050px) {
  .contentGrid {
    gap: 1rem;
    flex-direction: column;
  }

  .column {
    width: 100%;
    flex: 1 1 100%;
  }

  .subHeading {
    text-align: left;
  }

  .listBox {
    font-size: 1.25rem;
  }
}

@media (max-width: 700px) {
  .ahaBhaSection {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .overlay {
    padding: 1.75rem;
  }

  .heading {
    font-size: 2.25rem;
    margin-bottom: 0.25rem;
  }

  .subHeading {
    font-size: 1.75rem;
  }

  .listBox {
    line-height: 1.25;
    font-size: 1.15rem;
  }
}

@media (max-width: 480px) {
  .ahaBhaSection {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .overlay {
    padding: 1.5rem;
  }

  .contentGrid {
    gap: 0.5rem;
  }

  .heading {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .subHeading {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.25rem;
  }

  .listBox {
    font-size: 1rem;
    line-height: 1.25;
  }
}
